<form [formGroup]="form" class="search-wrapper" [ngClass]="'variant-'+variant">

    <div [fxLayout]="(vertical) ? 'column' : 'row wrap'"> 

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Property Type</mat-label> 
                <mat-select placeholder="Select Property Type" formControlName="propertyType">
                    <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType">
                        {{propertyType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Service Type</mat-label>
                <mat-select placeholder="Select Service Type" formControlName="serviceType" multiple>
                    <mat-option *ngFor="let serviceType of serviceTypes" [value]="serviceType">
                        {{serviceType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>        
        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">                         
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>City</mat-label>
                <mat-select placeholder="Select City..." formControlName="city" (selectionChange)="onSelectCity()">
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{city.name}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Zip Code</mat-label>
                <input matInput placeholder="exp. 98104" autocomplete="off" formControlName="zipCode">                  
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">                         
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Neighborhood</mat-label>
                <mat-select placeholder="Select Neighborhood..." formControlName="neighborhood" multiple (selectionChange)="onSelectNeighborhood()">
                    <mat-option *ngFor="let neighborhood of neighborhoods | filterNeighborhoods: form.get('city').value?.id" [value]="neighborhood">
                        {{neighborhood.name}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">                         
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Street</mat-label>
                <mat-select placeholder="Select Street..." formControlName="street" multiple>
                    <mat-option *ngFor="let street of streets | filterStreets : { neighborhoods:form.get('neighborhood').value, cityId:form.get('city').value?.id } " [value]="street">
                        {{street.name}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
        </div>

    </div>
  

    <div fxLayout="row" fxLayoutAlign="center center" class="p-2">       
      <button mat-raised-button color="warn" class="uppercase mx-1" (click)="reset()">{{ 'BTN.CLEAR' | translate }}</button>
      <!-- <button *ngIf="!vertical" mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore">
          {{( showMore ? 'BTN.HIDE' : 'BTN.ADVANCED' )| translate}}
        </button>       -->
      <button *ngIf="searchOnBtnClick" mat-raised-button color="primary" class="search-btn mx-1" (click)="search()"><mat-icon>search</mat-icon> Search</button>
    </div>
    

</form>
