<form [formGroup]="form" class="search-wrapper" [ngClass]="'variant-'+variant">

    <div [fxLayout]="(vertical) ? 'column' : 'row wrap'"> 

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Property Type</mat-label> 
                <mat-select placeholder="Select Property Type" formControlName="propertyType">
                    <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType.id">
                        {{propertyType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Service Type</mat-label>
                <mat-select placeholder="Select Service Type" formControlName="serviceType">
                    <mat-option *ngFor="let serviceType of serviceTypes" [value]="serviceType.id">
                        {{serviceType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>        
        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">                         
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Location</mat-label>
                <mat-select placeholder="Select Location..." formControlName="location" >
                    <mat-option *ngFor="let location of locations" [value]="location.id">
                        {{location.name_en}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
        </div>


    </div>
  

    <div fxLayout="row" fxLayoutAlign="center center" class="p-2">       
      <button mat-raised-button color="warn" class="uppercase mx-1" (click)="reset()">{{ 'BTN.CLEAR' | translate }}</button>
      <!-- <button *ngIf="!vertical" mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore">
          {{( showMore ? 'BTN.HIDE' : 'BTN.ADVANCED' )| translate}}
        </button>       -->
      <button *ngIf="searchOnBtnClick" mat-raised-button color="primary" class="search-btn mx-1" (click)="search()"><mat-icon>search</mat-icon> Search</button>
    </div>
    

</form>
